# Discord Bot Token
DISCORD_TOKEN={YOUR-BOT-TOKEN}

# Discord Application Client ID
CLIENT_ID={YOUR-ID}

# Google Sheets API credentials
GOOGLE_SERVICE_ACCOUNT_JSON=./service_account.json

# Replace with your actual Google Sheet ID for the music entries
GOOGLE_SHEET_ID={your_sheet_id_here}

# Replace with your actual Google State Sheet ID for tracking state after randomization (persistent across reboots)
GOOGLE_STATE_SHEET_ID={your_state_sheet_id_here}

# For instant commands update during tests.
# GUILD_ID={YOUR-SERVER-ID}
