DISCORD_TOKEN={YOUR-BOT-TOKEN}
CLIENT_ID={YOUR-ID}

GOOGLE_SERVICE_ACCOUNT_JSON=./service_account.json
GOOGLE_SHEET_ID={your_sheet_id_here}

# For instant commands update during tests.
# GUILD_ID={YOUR-SERVER-ID}
